@media (min-width: 993px) and (max-width: 1300px){

}

@media (min-width: 769px) and (max-width: 992px){
    .img2{
        height: 450px;
        width: 350px;
        border-radius: 100px;
    }
    .img6{
        display: none;
    }
}

@media (min-width: 577px) and (max-width: 768px){
    .s1{
        width: 100%;
    }
    .s21{
        height: 600px;
    }
    .s22{

        width: 100%;
    }
    .s23{
        width: 100%;
    }
    .img2{
        display: none;
    }
    .img3{
        display: none;
    }
    .img4{
        display: none;
    }
    .img5{
        display: none;
    }
    .img6{
        display: none;
    }

}

@media (min-width: 0px) and (max-width: 576px){
    .s1{
        width: 100%;
    }
    .s1 p{
        font-size: 15px;
    }
    .s22{
        height: 400px;
        width: 100%;
    }
    .s23{
        display: none;
    }
    .img3{
        display: none;
    }
    .img6{
        display: none;
    }
    .img2{
        height: 450px;
        width: 300px;
        border-radius: 50px;
        position: relative;
        left: 10px;
    }
    .img4{
        display: none;
    }
    .img5{
        display: none;
    }
    .s5{
        width: 300px;
    }
    .s5 img{
        width: 100%;
    }
}